<launch>

    <arg name="use_falcon" default="false"/>

    <rosparam param="use_falcon" subst_value="True">$(arg use_falcon)</rosparam>

    <group if="$(arg use_falcon)">
        <node name="falcon_driver" pkg="falcon_driver" type="falcon_driver" output="screen"/>
        <node name="falcon_joy" pkg="falcon_driver" type="falcon_joy" output="screen"/>
    </group>
    <group unless="$(arg use_falcon)">
    <node name="joy_node" pkg="joy" type="joy_node">
    </node>
    </group>

    <!-- kinematic control -->
    
    <node name="joystick_control" pkg="kin_control" type="joystick_control.py" output="screen">
    </node>
    
    <!-- launch ir blob detection node -->
    <node name="ir_detection" pkg="img_feedback" type="ir_detection.py" output="screen">
    </node>

    <!-- launch user interface -->
    <node name="user_interface" pkg="user_interface" type="user_interface.py" output="screen">
    </node>
</launch>